.file-preview {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.file-preview h3 {
		font-size:12px;
	}
	.file-preview li {
		margin: 0;
		padding: 10px 0;
		margin: 0;
		overflow: auto;
		border-bottom: solid 1px #ccc;
		position: relative;
	}

		.file-preview li img {
			border: solid 1px #999;
			border-radius:3px;
			padding: 3px;
			margin: 0 10px 0 0;
			display: block;
			float: left;
		}

.file-cancel{
	cursor: pointer;
}

.file-progress{
	font-size:90%;
	color:#777;
}


.contact_query_form .std ul {list-style: none;}
.contact_query_form  .std ul ul {list-style-type: none;}
.contact_query_form .validation-advice {position: relative; display: block;}
.contact_query_form .validation-advice:before, .icon-arrow-up:before {
    content: "\f062";
}
.contact_query_form .validation-advice:before {
    padding-right: 5px;
    font-family: 'FontAwesome';
}

.contact_query_form .fieldset{border: 1px solid #E1E1E1;padding: 10px 20px 10px 20px;border-radius: 10px;overflow: hidden;margin:10px;}
.contact_query_form .fieldset .legend{font-weight: bold;}

.contact_query_form #submit_form {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #777;
}
.contact_query_form .form-list li.control input.radioblock-connectus{margin-top: 0px;}
.contact_query_form .messages{padding-bottom: 10px;}
.contact_query_form #field_1553{width:100%;}
.contact_query_form .field textarea{width: 515px;}

.contact_query_form #fieldset_588 .field{padding: 5px;}
.contact_query_form #fieldset_588 .field label{display: inline-block;padding:5px 0; width: auto;}
.contact_query_form .page-title h1{font-size:14px;}
@media (max-width: 768px){
    .contact_query_form .field textarea {
        width: 240px;
    }	
	
}
@media (min-width: 670px) and (max-width: 980px)
{
    .contact_query_form .field textarea {
        width: 240px;
    }
}

@media (min-width: 768px){
    
	.contact_query_form {margin-left: 8%;}
}

/*.contact_query_form #submit_form:hover {*/
    /*background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);*/
    /*background-color: #c62d1f;*/

/*}*/
