<?php
/*------------------------------------------------------------------------
 # SM Super Categories - Version 1.0.0
 # Copyright (c) 2014 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/?>

<?php
	$cms_id = Mage::getSingleton('cms/page')->getIdentifier();
?>
<div class="ltabs-tabs-wrap">
	<span class='ltabs-tab-selected'></span>
	<span class='ltabs-tab-arrow'>&#9660</span>
	<ul class="ltabs-tabs yt-tab-navi cf">
        <li class="best-selling"> <span>Best Seller</span></li>
		<?php
		foreach ($list as $tab) {?>
				<li class="ltabs-tab <?php echo isset($tab->sel) ? '  tab-sel tab-loaded' : ''; ?>"
				    data-category-id="<?php echo $tab->catid; ?>"
				    data-active-content=".items-category-<?php echo $tab->catid; ?>"
					data-cmspage-id="<?php echo $cms_id; ?>"
					data-category-select="<?php echo $tab->catid;;?>"
                    data-catindex = "<?php echo $tab->index ?>">
					<a class="ltabs-tab-label"><?php echo $tab->title;?> </a>
				</li>
		<?php } ?>
	</ul>
</div>
