<script type="text/javascript">
    function Check_Pincode(){
        var pincode =document.getElementById('pincode');
        document.getElementById('pincode_ajax_loader').style.display = 'inline';
        if(pincode.value!="") {
            var parameters = {pincode: pincode.value};
            var url = '<?php echo $this->getUrl('shippingcodajax/index'); ?>';
            var request = new Ajax.Request(url + 'checkpostcode', {
                method: 'post',
                parameters: parameters,
                onSuccess: function (transport) {
                    var json = transport.responseText.evalJSON();
                    if (json.result == 'yes') {
                        document.getElementById('pincode_success_msg').value="";
                        document.getElementById('pincode_success_msg').innerHTML='We <b style="color:red;">DELIVER</b> to this <b>PINCODE</b></br>Delivery Time : ' + json.deltime + ' Working Days.';
                        document.getElementById('pincode_success_msg').style.display = 'block';
                        document.getElementById('pincode_unsuccess_msg').style.display = 'none';
                    } else {
                        document.getElementById('pincode_success_msg').style.display = 'none';
                        document.getElementById('pincode_unsuccess_msg').style.display = 'block';
                    }
                    var $target = jQuery('#fancybox-content>div');
                    $target.animate({scrollTop: $target.height()});

                    document.getElementById('pincode_ajax_loader').style.display = 'none';
                }
            });
        }else{
            document.getElementById('pincode_success_msg').style.display = 'none';
            document.getElementById('pincode_unsuccess_msg').style.display = 'none';
            document.getElementById('pincode_ajax_loader').style.display = 'none';
        }

    }

</script>
<div class="check_pincode_avalability">
    <p>Enter delivery Pincode</p>
    <input type="text" id="pincode" placeholder="Enter Pincode"/>
    <button type="button" class="button as_btn_check_pincode" id="btn_check_pincode" onClick="Check_Pincode();" >
        <span><span>Check</span></span>
    </button>
    <img id="pincode_ajax_loader" style="display:none;position:relative;top:-4px;" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading ...') ?>">
    <div class="clear"></div>
    <br/>
    <p id="pincode_success_msg" style="display:none;"> We <b style="color:red;">DELIVER</b> to this <b>PINCODE</b> </p>
    <p  id="pincode_unsuccess_msg" style="display:none;"> Sorry, we do not deliver to this pincode</p>
    <div class="clear"></div>
</div>
