<?php
/**
 * Mage SMS - SMS notification & SMS marketing
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the BSD 3-Clause License
 * It is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/BSD-3-Clause
 *
 * @category    TOPefekt
 * @package     TOPefekt_Magesms
 * @copyright   Copyright (c) 2012-2015 TOPefekt s.r.o. (http://www.mage-sms.com)
 * @license     http://opensource.org/licenses/BSD-3-Clause
 */
?><?php $user = $this->profile->user; ?><?php $lang = $this->profile->lang; ?><script type="text/javascript">//<![CDATA[
Event.observe(window, "load", function(){var gridData = document.getElementById('magesms-profile');var tr_array = gridData.getElementsByTagName('tr');for (var i=0, len=tr_array.length; i < len; i++) {if (tr_array[i].className.indexOf('hover') !== -1) {tr_array[i].onmouseover = function() {this.className = this.className + ' on-mouse';};tr_array[i].onmouseout = function() {this.className = this.className.replace(' on-mouse', '');};tr_array[i].onclick = function() {var arr = this.id.split('_');var next = document.getElementById('histd_'+arr[1]);if (next.style.display == 'none') {next.style.display = 'table-row';} else {next.style.display = 'none';}var img = this.getElementsByClassName('img');if (img[0].style.display == 'none') {img[0].style.display = 'inline';} else {img[0].style.display = 'none';}if (img[1].style.display == 'none') {img[1].style.display = 'inline';} else {img[1].style.display = 'none';}};}}});
//]]></script><div id="magesms-profile"><div class="float-right"><?php if (!$user->getUser()): ?><div class="entry-edit"><div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/AdminEmployees.gif'; ?>" alt="" /> <?php echo Mage::helper('magesms')->__('Sign in'); ?></h4></div><div class="fieldset "><form id="magesms_login" action="<?php echo $this->getUrl('*/*/login') ?>" method="post"><input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" /><p><?php echo Mage::helper('magesms')->__('If You already have an account, please sign in.'); ?></p><div><div class="margin-form"><label class="form-required" for="username"><?php echo Mage::helper('magesms')->__('Username:'); ?> <span class="required">*</span></label><input class="required-entry input-text" type="text" name="username" id="username" value="" /></div><div class="margin-form"><label class="form-required" for="password"><?php echo Mage::helper('magesms')->__('Password:'); ?> <span class="required">*</span></label><input class="required-entry input-text" type="password" autocomplete="off" name="password" id="password" value="" /></div><div class="margin-form"><input type="submit" value="<?php echo Mage::helper('magesms')->__('Log in'); ?>" name="submitLogin" class="form-button" /></div><div><span class="require">*</span> <?php echo Mage::helper('magesms')->__('Required field'); ?></div></div></form></div></div><script type="text/javascript">//<![CDATA[
var loginForm = new varienForm('magesms_login', '<?php echo $this->getUrl('*/*/login') ?>');loginForm._processValidationResult = function(transport) {var response = transport.responseText.evalJSON();if (response.error){if (response.attribute && $(response.attribute)) {$(response.attribute).setHasError(true, productForm);Validation.ajaxError($(response.attribute), response.message);if (!Prototype.Browser.IE){$(response.attribute).focus();}}else if ($('messages')) {$('messages').innerHTML = '<ul class="messages"><li class="error-msg"><ul><li>' + response.message + '</li></ul></li></ul>';}}else{loginForm._submit();}};
//]]></script><?php else: ?><div class="entry-edit"><div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/AdminEmployees.gif'; ?>" alt="" /> <?php echo Mage::helper('magesms')->__('User account info'); ?></h4></div><div class="fieldset "><div><div class="margin-form"><label class="form-required"><?php echo Mage::helper('magesms')->__('Username:'); ?></label><span class="required-entry input-text"><?php echo $user->user; ?></span></div><div class="margin-form"><label class="form-required"><?php echo Mage::helper('magesms')->__('Password:'); ?></label><span class="required-entry input-text"><?php echo $user->passwd; ?></span></div><div class="margin-form"><label class="form-required"><?php echo Mage::helper('magesms')->__('SMS Credit:'); ?></label><span class="required-entry input-text"><?php echo $this->profile->credit; ?></span></div></div></div></div><div class="entry-edit"><?php $admins = $this->profile->admins; ?><?php if ($adminedit = Mage::app()->getRequest()->getParam('adminedit')): ?><?php $edit = $admins->load($adminedit); ?><?php else: ?><?php $edit = Mage::getModel('magesms/admins'); ?><?php endif; ?><div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/AdminEmployees.gif'; ?>" alt="" /> <?php echo Mage::helper('magesms')->__('Add administrators'); ?></h4></div><div class="fieldset "><form id="magesms_admins" action="<?php echo $this->getUrl('*/*/saveadmin') ?>" method="post"><?php echo $this->getBlockHtml('formkey')?><div><div class="margin-form"><label class="form-required" for="name"><?php echo Mage::helper('magesms')->__('Name:'); ?> <span class="required">*</span></label><input class="required-entry input-text" type="text" name="name" id="name" value="<?php echo $this->htmlEscape($edit->getName()); ?>" /></div><div class="margin-form"><label class="form-required" for="number"><?php echo Mage::helper('magesms')->__('Mobile number:'); ?> <span class="required">*</span></label><input class="required-entry input-text validate-number" type="text" name="number" id="number" value="<?php echo $this->htmlEscape($edit->getNumber()); ?>" /><div><?php echo Mage::helper('magesms')->__('in international format, no leading zeros or a “+” sign, e.g., 447971796595'); ?></div></div><div class="margin-form"><input type="hidden" name="id" value="<?php echo $adminedit; ?>" /><input type="button" onclick="adminsForm.submit();" value="<?php echo Mage::helper('magesms')->__($adminedit ? 'Edit' : 'Add'); ?>" class="form-button" /></div><?php if ($admins->getCollection()->count()): ?><div class="grid"><table class="data"><colgroup><col /><col /><col width="60" /><col width="60" /></colgroup><?php $even = 1; foreach( $admins->getCollection() as $_admins ): if ($even) $even = 0; else $even = 1; ?><tr class="hover <?php if ($even) echo 'even'?> pointer"><td><?php echo $_admins->name; ?></td><td><?php echo $_admins->number; ?></td><td class="a-center"><a href="<?php echo Mage::helper("adminhtml")->getUrl('*/*/*', array('adminedit' => $_admins->getId())) ?>" title="<?php echo Mage::helper('magesms')->__('EDIT administrator'); ?>"><?php echo Mage::helper('magesms')->__('edit'); ?></a></td><td class="a-center last"><a href="<?php echo Mage::helper("adminhtml")->getUrl('*/*/deleteadmin', array('id' => $_admins->getId())) ?>" title="<?php echo Mage::helper('magesms')->__('DELETE administrator'); ?>" onclick="return confirm('<?php echo Mage::helper('magesms')->__('Are you sure to delete').' '.$_admins->name.'?'; ?>')"><?php echo Mage::helper('magesms')->__('delete'); ?></a></td></tr><?php endforeach; ?></table></div><?php endif; ?><div><span class="require">*</span> <?php echo Mage::helper('magesms')->__('Required field'); ?></div></div></form></div><script type="text/javascript">//<![CDATA[
var adminsForm = new varienForm('magesms_admins', '<?php echo Mage::helper("adminhtml")->getUrl('*/*/validateadmin', array('id' => Mage::app()->getRequest()->getParam('adminedit', 0))) ?>');
//]]></script></div><div class="entry-edit"><div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/AdminEmployees.gif'; ?>" alt="" /> <?php echo Mage::helper('magesms')->__('Other settings'); ?></h4></div><div class="fieldset "><form id="magesms_settings" action="<?php echo $this->getUrl('*/*/savesettings') ?>" method="post"><input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" /><div><div class="margin-form"><label for="simulate"><?php echo Mage::helper('magesms')->__('Simulate SMS sending:'); ?></label><input type="checkbox" name="simulatesms" id="simulatesms" value="1" <?php echo $user->getSimulatesms() ? 'checked' : ''; ?> /><span class="help" onclick="popup_title(this)" title="<?php echo Mage::helper('magesms')->__('Allows to test sending of SMS in modul and to view sent SMS in SMS history with a special status.'); ?>" style="cursor:help;text-decoration:underline;">?</span></div><div class="margin-form"><label for="URLreports"><?php echo Mage::helper('magesms')->__('Delivery reports:'); ?></label><input type="checkbox" name="URLreports" id="URLreports" value="1" <?php echo $user->getData('URLreports') ? 'checked' : ''; ?> /><span class="help" onclick="popup_title(this)" title="<?php echo Mage::helper('magesms')->__('Allows to see delivery reports of SMS in SMS history Tab.'); ?>" style="cursor:help;text-decoration:underline;">?</span></div><div class="margin-form"><label for="pocetkredit"><?php echo Mage::helper('magesms')->__('Low credit alert:'); ?></label><input type="text" class="input-text" size="3" name="pocetkredit" id="pocetkredit" value="<?php echo $user->getPocetkredit() ? $user->getPocetkredit() : 0; ?>" /><span class="help" onclick="popup_title(this)" title="<?php echo Mage::helper('magesms')->__(' Allows to receive email when your SMS credit is low.'); ?>" style="cursor:help;text-decoration:underline;">?</span><span class="help2"><?php echo Mage::helper('magesms')->__('(0 = no alert)'); ?></span></div><div class="margin-form"><label for="deliveryemail"><?php echo Mage::helper('magesms')->__('Email for delivery reports:'); ?></label><input type="text" class="input-text validate-email" name="deliveryemail" id="deliveryemail" value="<?php echo $this->htmlEscape($user->getDeliveryemail()); ?>" /><span class="help" onclick="popup_title(this)" title="<?php echo Mage::helper('magesms')->__('Allows to receive email with delivery report of SMS.'); ?>" style="cursor:help;text-decoration:underline;">?</span></div><div class="margin-form"><label style="width: 210px; margin: 0 20px 1em 0;"><?php echo Mage::helper('magesms')->__('For sending SMS prefer phone nr. from:'); ?></label><div style="white-space:nowrap"><input type="radio" class="input-text" name="prefbilling" id="prefbilling0" value="0" <?php echo !$user->getPrefbilling() ? 'checked' : ''; ?> /><label for="prefbilling0" style="width: auto; display: inline; float: none"><?php echo Mage::helper('magesms')->__('invoice address'); ?></label></div><div style="white-space:nowrap"><input type="radio" class="input-text" name="prefbilling" id="prefbilling1" value="1" <?php echo $user->getPrefbilling() ? 'checked' : ''; ?> /><label for="prefbilling1" style="width: auto; display: inline; float: none"><?php echo Mage::helper('magesms')->__('delivery address'); ?></label></div><div class="clear"></div></div><div class="margin-form"><input type="button" onclick="settingsForm.submit();" value="<?php echo Mage::helper('magesms')->__('Save'); ?>" class="form-button" /></div></div></form><script type="text/javascript">//<![CDATA[
var settingsForm = new varienForm('magesms_settings', '<?php echo Mage::helper("adminhtml")->getUrl('*/*/validatesettings') ?>');
//]]></script></div></div><?php endif; ?></div><div class="float-left"><div class="entry-edit"><div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/AdminEmployees.gif'; ?>" alt="" /> <?php echo Mage::helper('magesms')->__($user->getUser() ? 'Edit user account' : 'New user account'); ?></h4></div><div class="fieldset "><form id="magesms_profil" action="<?php echo $this->getUrl('*/*/save') ?>" method="post"><input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" /><?php if (!$user->getUser()): ?><p><?php echo Mage::helper('magesms')->__('Not registered yet? Create account now!'); ?></p><?php endif; ?><div class="margin-form"><label class="form-required" for="email"><?php echo Mage::helper('magesms')->__('Email:'); ?> <span class="required">*</span></label><input class="required-entry input-text validate-email" type="text" name="email" id="email" value="<?php echo $this->htmlEscape($user->getEmail()); ?>" /></div><div class="margin-form"><label class="form-required"><?php echo Mage::helper('magesms')->__('Registration type:'); ?></label><input type="radio" name="regtype" id="reg-type1" style="float: left" value="person" <?php echo !$user->getRegtype() || $user->getRegtype() =='person' ? 'checked' : ''; ?> /><label style="width: auto; margin: 0 15px 0 5px" for="reg-type1"><?php echo Mage::helper('magesms')->__('Personal'); ?></label><input type="radio" name="regtype" id="reg-type2" style="float: left" value="firm" <?php echo $user->getRegtype() =='firm' ? 'checked' : ''; ?> /><label style="width: auto; margin-left: 5px" for="reg-type2"><?php echo Mage::helper('magesms')->__('Business'); ?></label><div class="clear"></div></div><div class="entry-edit-head firm"><h4 class="fieldset-legend head-account"><?php echo Mage::helper('magesms')->__('Billing information'); ?></h4></div><div class="fieldset firm"><div class="margin-form"><label class="" for="companyname"><?php echo Mage::helper('magesms')->__('Company name:'); ?> <span class="required">*</span></label><input class="input-text" type="text" name="companyname" id="companyname" value="<?php echo $this->htmlEscape($user->getCompanyname()); ?>" /></div><div class="margin-form firm czech" style="display: none;"><label for="companyid"><?php echo Mage::helper('magesms')->__('Company ID:'); ?></label><input class="input-text" type="text" name="companyid" id="companyid" value="<?php echo $this->htmlEscape($user->getCompanyid()); ?>" /></div><div class="margin-form firm vat" style="display: none;"><label for="companyvat"><?php echo Mage::helper('magesms')->__('Company VAT:'); ?></label><input class="input-text" type="text" name="companyvat" id="companyvat" value="<?php echo $this->htmlEscape($user->getCompanyvat()); ?>" /><span class="error" style="display: none"><?php echo Mage::helper('magesms')->__('Invalid VAT'); ?></span></div></div><div class="entry-edit-head"><h4 class="fieldset-legend head-account"><?php echo Mage::helper('magesms')->__('Contact person'); ?></h4></div><div class="fieldset "><div class="margin-form"><label for="firstname"><?php echo Mage::helper('magesms')->__('First name:'); ?></label><input class="input-text" type="text" name="firstname" id="firstname" value="<?php echo $this->htmlEscape($user->getFirstname()); ?>" /></div><div class="margin-form"><label for="lastname"><?php echo Mage::helper('magesms')->__('Last name:'); ?></label><input class="input-text" type="text" name="lastname" id="lastname" value="<?php echo $this->htmlEscape($user->getLastname()); ?>" /></div></div><div class="entry-edit-head"><h4 class="fieldset-legend head-account"><?php echo Mage::helper('magesms')->__('Address'); ?></h4></div><div class="fieldset "><div class="margin-form"><label for="addressstreet"><?php echo Mage::helper('magesms')->__('Street:'); ?></label><input class="input-text" type="text" name="addressstreet" id="addressstreet" value="<?php echo $this->htmlEscape($user->getAddressstreet()); ?>" /></div><div class="margin-form"><label for="addresszip"><?php echo Mage::helper('magesms')->__('ZIP:'); ?></label><input class="input-text" type="text" name="addresszip" id="addresszip" value="<?php echo $this->htmlEscape($user->getAddresszip()); ?>" /></div><div class="margin-form"><label for="addresscity"><?php echo Mage::helper('magesms')->__('City:'); ?></label><input class="input-text" type="text" name="addresscity" id="addresscity" value="<?php echo $this->htmlEscape($user->getAddresscity()); ?>" /></div><div class="margin-form"><label for="country"><?php echo Mage::helper('magesms')->__('Country:'); ?></label><select name="country0" id="country" onchange="vatfield();"></select></div></div><?php if (!$user->getId()): ?><?php if (empty(Mage::getConfig()->getNode('default/config/referer')->id)): ?><div class="margin-form"><label for="refererid"><?php echo Mage::helper('magesms')->__('Referer ID:'); ?></label><input class="input-text" type="text" name="refererid" id="refererid" value="<?php echo $this->htmlEscape($user->getRefererid()); ?>" /></div><?php endif; ?><div class="margin-form"><?php $agree_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magesms/licence_'; if (in_array(Mage::getStoreConfig('magesms/template/language'), array('cz', 'sk'))) $agree_url .= 'cz.pdf'; else $agree_url .= 'en.pdf'; ?><label class="form-required"><a href="<?php echo $agree_url; ?>"><?php echo Mage::helper('magesms')->__('View licence terms:'); ?></a></label><input type="radio" class="validate-agree" name="agree" id="agree1" style="float: left" value="1" /><label style="width: auto; margin: 0 15px 0 5px" class="form-required" for="agree1"><?php echo Mage::helper('magesms')->__('I agree'); ?></label><input type="radio" name="agree" id="agree2" style="float: left" value="2" checked /><label style="width: auto; margin-left: 5px" for="agree2"><?php echo Mage::helper('magesms')->__('I dont agree'); ?></label><div class="clear"></div></div><?php endif; ?><div class="margin-form"><input type="button" onclick="profilForm.submit();" value="<?php echo Mage::helper('magesms')->__($user->getId() ? 'Save' : 'Register'); ?>" class="form-button" /></div><div><span class="require">*</span> <?php echo Mage::helper('magesms')->__('Required field'); ?></div></form><script type="text/javascript">function changeProfile(elm) {var type = elm.target.value;$$("#magesms-profile div[id^='advice-required-entry-']").each(function(el) {el.remove()});if (type == "firm") {$$("#magesms-profile #companyname").each(function(el) {el.addClassName("required-entry")});$$("#magesms-profile label[for=companyname]").each(function(el) {el.addClassName("form-required")});$$('#magesms-profile .firm').each(function (element) {element.show();});vatfield();} else {$$("#magesms-profile #companyname").each(function(el) {el.removeClassName("required-entry")});$$("#magesms-profile label[for=companyname]").each(function(el) {el.removeClassName("form-required")});$$('#magesms-profile .firm').each(function (element) {element.hide();});}}Event.observe(window, "load", function() {country = {<?php foreach( $this->profile->country as $country ): ?>"<?php echo $this->htmlEscape($country->getData('name')); ?>": <?php echo $country->getData('vat'); ?>,<?php endforeach; ?>};for(var name in country) {var option = document.createElement('option');option.value = name;option.text = name;if (name == "<?php echo $user->country0 ? $user->country0 : $lang; ?>") {option.selected = true;}$('country').appendChild(option);}$$("#magesms-profile input[name=regtype]:checked")[0].click();$$("#magesms-profile select#country").each(function(el) {el.onchange(vatfield)});$$("#magesms-profile #companyvat").each(function(el) {Event.observe(el, 'blur', vatcheck)});vatfield();});function vatfield() {var selected = $$("#magesms-profile select#country")[0].value;if ( selected == "Czech Republic") {$$("#magesms-profile div.czech").each(function(element) {element.show()});} else {$$("#magesms-profile div.czech").each(function(element) {element.hide()});}if (country[selected] == 1) {$$("#magesms-profile div.vat").each(function(element) {element.show()});} else {$$("#magesms-profile div.vat").each(function(element) {element.hide()});}vatcheck();}function vatcheck() {if ($$("#magesms-profile input[name=regtype]:checked")[0].value == "firm") {var selected = $$("#magesms-profile select#country")[0].value;var vat = $$("#magesms-profile #companyvat")[0].value;if (country[selected] && vat) {new Ajax.Request("<?php echo Mage::helper("adminhtml")->getUrl('*/*/vatvalidate') ?>", {method: 'get',parameters: {country:selected, companyvat:vat},onSuccess: function(transport) {if (transport.responseText != "true") {$$("#magesms-profile .vat input")[0].addClassName("invalidvat").removeClassName("validvat");$$("#magesms-profile .vat .error")[0].style.display = "inline";} else {$$("#magesms-profile .vat input")[0].removeClassName("invalidvat").addClassName("validvat");$$("#magesms-profile .vat .error")[0].style.display = "none";}}});}}}$("reg-type1").addEventListener('click', changeProfile);$("reg-type2").addEventListener('click', changeProfile);</script></div><script type="text/javascript">//<![CDATA[
var profilForm = new varienForm('magesms_profil', '<?php echo Mage::helper("adminhtml")->getUrl('*/*/validate') ?>');profilForm._processValidationResult = function(transport) {var response = transport.responseText.evalJSON();if (response.error){if (response.attribute && $(response.attribute)) {$(response.attribute).setHasError(true, productForm);Validation.ajaxError($(response.attribute), response.message);if (!Prototype.Browser.IE){$(response.attribute).focus();}}else if ($('messages')) {$('messages').innerHTML = '' + response.message + '';}}else{profilForm._submit();}};Validation.add('validate-agree','You have to agree with licence terms.', function(v) {return $('agree1').checked && !$('agree2').checked;});Translator.add('You have to agree with licence terms.','<?php echo Mage::helper('magesms')->__('You have to agree with licence terms.')?>');
//]]></script></div></div><div class="clear"></div><br /><br /></div>