.loading-details { 
    background: url("../images/main-bg.png") repeat scroll 0 0 transparent; 
    height: 100%;  
    left: 0;  
    position: fixed;  
    top: 0;  
    width: 100%;   
    z-index: 99; 
}
#loading-details .update-popup { 
    position:fixed; 
    top:45%; 
    left:45%;
    width:300px;
    margin-left:-105px; 
    padding:15px 30px;
    background:#fff;
    color:#d85909;
    font-weight:bold;
    text-align:center; 
    z-index:400;
    webkit-border-radius: 6px;
    -moz-border-radius: 6px; 
    border-radius: 6px;
}
#loading-mask {  
    background:transparent;
    border: none;
    margin: 20% auto;
    padding: 15px;
    text-align: center;
    width: 200px;
}
#loading-mask p{ 
    margin-bottom:0;
}

.track-data-table{ 
    margin-bottom:20px;
}

.order-info-message{ 
    padding-top: 15px;
}

.block-trackorder .block-content{
    padding: 5px 10px;
}
.statuses{
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.block-trackorder .block-title strong {  
    background-image: url("../images/i-trackorder.png"); 
    background-position: 0 0;
    background-repeat: no-repeat;   
    padding-left: 21px;
}
.statuses > span.active_order {
    background: #ed5565;
    color: #fff;
    font-weight: bold;
    border-color: #ed5565;
}
.myorder-wrapper{
    margin-top: 20px;
}
.statuses > span {
    display: inline-block;
    text-align: center;
    width: 75px;
    padding: 5px 0;
    text-align: center;
    background: #fff;
    border: 1px solid #000;
}
#checkout-review-table-wrapper,.myorder-wrapper{
    width:100%;
    float: left;
}
.myorder,.order_summery,.payment_method {
    width: 45%;
    float:left;
    background-color: #fff;
    color: #5A5A5C;
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}
.myorder-wrapper div:last-child{
    margin-right: 0;
}
.myorder h3,.order_summery h3,.payment_method h3{
    background-color: #ed5565;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    margin: -15px -15px 10px;
    padding: 5px 15px;
}
.inner_content {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.inner_content span,.inner_content label{
    width:50%;
    float:left;
    display: block;
}
.inner_content label span{
    float: right;
    padding-right: 10px;
    width: auto;
}
.data-table thead th{
    background: #dee3e3;
    color: #fff;
    border-right: 1px solid #ed5565;   
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 8px;
}
.data-table {
    border: 1px solid #dee3e3;
    width: 100%;
}
.data-table thead th {
    background: none repeat scroll 0 0 #dee3e3;
    border-right: 1px solid #dee3e3;
    color: #5a5a5c;
}
.data-table tfoot {
    border-bottom: 1px solid #d9dde3;
}
.data-table tfoot tr {
    background-color: #dee3e3 !important;
}
.data-table tbody td {
    color: #5a5a5c;
}
.data-table tfoot td {
    border-right: 1px solid #dee3e3;
    color:#5a5a5c;
}
img.product_img{
    border: 1px solid #dee3e3;
    vertical-align: middle;
}
.sub-title{
    color:#5a5a5c;
    text-transform: uppercase;
}
.myorder a.print-icon {
    background: url("../images/i_print.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none !important;
    display: inline-block;
    font-size: 0;
    height: 16px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 16px;
}
.bottom-align{
    vertical-align: bottom;
}

#loading-mask .loader {
    padding: 15px 40px;
}