<?php $isActive = Mage::getStoreConfig('shippingcod_section/shippingcod_group/active');
if($isActive==1) { ?>
<!--You can make any from this line onward till the mentioned comment below, otherwise the module will not work -->
<div style="border: 1px solid #E7E7E7;width:100%;position:relative;">
	<div style="padding:5px;">
		<div id="pincheck1">
			<b>Check your delivery options: </b><br><input type="text" id="strPinCode" class="input-text" placeholder="Enter Postcode">
			<button type="button" class="button" value="Check" id="btnPostCheck"><span>Check</span></button>
		</div>
		<span style="color:#ff0000" id="ermsg"></span>
		<div id="pstResult">
		</div>
		<div><?php echo Mage::getStoreConfig('shippingcod_section/shippingcod_group/addnl_text'); ?></div>
	</div>
</div>
<!--Do not make any chnage after this line, otherwise module will not work. -->
<script language="javascript" type="text/javascript">
	var codeurl = '<?php echo $this->getUrl('shippingcodajax ') ?>';
	var loadingimg = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).' / shippingcod / loading.gif '?>';
	var loadcod = <? php echo Mage::getSingleton('asifhussain_shippingcod/postcode') - > _checkCodMod(); ?> ;
	jQuery(document).ready(function() {
	    function setCookie(cname, cvalue, exdays) {
	        var d = new Date();
	        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
	        var expires = "expires=" + d.toUTCString();
	        document.cookie = cname + "=" + cvalue + "; " + expires
	    }

	    function getCookie(cname) {
	        var name = cname + "=";
	        var ca = document.cookie.split(';');
	        for (var i = 0; i < ca.length; i++) {
	            var c = ca[i];
	            while (c.charAt(0) == ' ') c = c.substring(1);
	            if (c.indexOf(name) == 0) {
	                return c.substring(name.length, c.length)
	            }
	        }
	        return ""
	    }

    function checkCookie() {
        var cookpin = getCookie("chkpincode");
        if (cookpin != "") {
            jQuery("#strPinCode").val(cookpin);
            setTimeout(function() {
                jQuery("#btnPostCheck").trigger('click')
            }, 500)
        } else {
            var npin = jQuery("#strPinCode").val();
            if (npin != "" && npin != null) {
                setCookie("chkpincode", npin, 365)
            }
        }
    }
    checkCookie();
    jQuery("#btnPostCheck").click(function() {
        if (loadcod == 'false' || loadcod == '' || loadcod == false || loadcod == 0 || loadcod == '0') {
            jQuery("#ermsg").text('Invalid license');
            return false
        }
        var qstrPinCode = jQuery("#strPinCode").val();
        if (qstrPinCode.trim() == '') {
            jQuery("#ermsg").text('Please enter the postcode')
        } else {
            jQuery("#ermsg").text('');
            var sldng = loadingimg;
            jQuery("#pincheck1").before('<div id="ldng" style="position:absolute;top:0;bottom:0;right:0;left:0; background:url(\'' + sldng + '\') no-repeat center center #ffffff;opacity:0.5"></div>');
            jQuery.ajax({
                url: codeurl,
                dataType: "html",
                data: {
                    pincode: qstrPinCode,
                },
                success: function(data) {
                    jQuery("#ldng").remove();
                    jQuery("#pincheck1").hide();
                    jQuery("#pstResult").html(data);
                    setCookie("chkpincode", qstrPinCode, 365)
                }
            });
            jQuery("#btnchngzip").live('click', function() {
                jQuery("#pstResult").empty();
                jQuery("#pincheck1").show()
            })
        }
    })
});
</script>
<?php } ?>