<?php $isActive = Mage::getStoreConfig('shippingcod_section/shippingcod_group/active');
if($isActive==1) { ?>
<!--You can make any from this line onward till the mentioned comment below, otherwise the module will not work -->

<div style="border: 1px solid #c3c2c3;width:100%;position:relative; background:#e4e5e6 " class="main_cod">
  <div style="padding:7px;">
    <div id="pincheck1"> <b>Check your delivery options: </b><br>
      <div class="fltdi">
        <input type="text" id="strPinCode" class="input-text" placeholder="Enter Pincode">
      </div>
      <div class="fltdi">
        <button type="button" class="button btnchngzip" value="Check" id="btnPostCheck"><span>Check</span></button>
      </div>
    </div>
    <span style="color:#ff0000" id="ermsg"></span>
    <div class="clearfix"></div>
    <div id="pstResult" style="padding-top:10px !important;"> </div>
    <div class="clearfix"></div>
    <div style="padding-top:10px !important;"><?php echo Mage::getStoreConfig('shippingcod_section/shippingcod_group/addnl_text'); ?></div>
  </div>
</div>
<br />
<br/>



<!--Do not make any chnage after this line, otherwise module will not work. --> 
<script language="javascript" type="text/javascript">
	var codeurl = '<?php echo $this->getUrl('shippingcodajax') ?>';
	var loadingimg = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'/shippingcod/loading.gif'?>';
	var loadcod = <?php echo Mage::getSingleton('asifhussain_shippingcod/postcode')->_checkCodMod();?>;
	<?php /*?>eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('2(b).M(4(){4 k(8,J,F){3 d=S R();d.P(d.O()+(F*T*E*E*11));3 r="r="+d.Y();b.L=8+"="+J+"; "+r}4 z(8){3 f=8+"=";3 n=b.L.Z(\';\');W(3 i=0;i<n.g;i++){3 c=n[i];V(c.U(0)==\' \')c=c.A(1);6(c.X(f)==0){m c.A(f.g,c.g)}}m""}4 v(){3 e=z("s");6(e!=""){2("#q").t(e);10(4(){2("#w").12(\'l\')},Q)}y{3 a=2("#q").t();6(a!=""&&a!=N){k("s",a,I)}}}v();2("#w").l(4(){6(7==\'p\'||7==\'\'||7==p||7==0||7==\'0\'){2("#j").h(\'1a 1p\');m p}3 9=2("#q").t();6(9.1q()==\'\'){2("#j").h(\'1o 1n 1l 13\')}y{2("#j").h(\'\');3 x=1r;2("#o").1s(\'<H 1x="G" 1y="1v:1t;1u:0;1j:0;19:0;18:0; 17:D(\\\'\'+x+\'\\\') 14-15 B B #16;1b:0.5"></H>\');2.1i({D:1f,1d:"C",u:{1e:9,},1z:4(u){2("#G").1g();2("#o").1h();2("#K").C(u);k("s",9,I)}});2("#1c").1k(\'l\',4(){2("#K").1w();2("#o").1m()})}})});',62,98,'||jQuery|var|function||if|loadcod|cname|qstrPinCode|npin|document|||cookpin|name|length|text||ermsg|setCookie|click|return|ca|pincheck1|false|strPinCode|expires|chkpincode|val|data|checkCookie|btnPostCheck|sldng|else|getCookie|substring|center|html|url|60|exdays|ldng|div|365|cvalue|pstResult|cookie|ready|null|getTime|setTime|500|Date|new|24|charAt|while|for|indexOf|toUTCString|split|setTimeout|1000|trigger|postcode|no|repeat|ffffff|background|left|right|Invalid|opacity|btnchngzip|dataType|pincode|codeurl|remove|hide|ajax|bottom|live|the|show|enter|Please|license|trim|loadingimg|before|absolute|top|position|empty|id|style|success'.split('|'),0,{}))<?php */?>
jQuery(document).ready(function () {
	function setCookie(cname, cvalue, exdays) {
		var d = new Date();
		d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
		var expires = "expires=" + d.toUTCString();
		document.cookie = cname + "=" + cvalue + "; " + expires
	}
	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') c = c.substring(1);
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length)
			}
		}
		return ""
	}
	function checkCookie() {
		var cookpin = getCookie("chkpincode");
		if (cookpin != "") {
			jQuery("#strPinCode").val(cookpin);
			setTimeout(function () {
				jQuery("#btnPostCheck").trigger('click')
			},
			500)
		} else {
			var npin = jQuery("#strPinCode").val();
			if (npin != "" && npin != null) {
				setCookie("chkpincode", npin, 365)
			}
		}
	}
	checkCookie();
	jQuery("#btnPostCheck").click(function () {
		if (loadcod == 'false' || loadcod == '' || loadcod == false || loadcod == 0 || loadcod == '0') {
			jQuery("#ermsg").text('Invalid license');
			return false
		}
		var qstrPinCode = jQuery("#strPinCode").val();
		if (qstrPinCode.trim() == '') {
			jQuery("#ermsg").text('Please enter the postcode')
		} else {
			jQuery("#ermsg").text('');
			var sldng = loadingimg;
			jQuery("#pincheck1").before('<div id="ldng" style="position:absolute;top:0;bottom:0;right:0;left:0; background:url(\'' + sldng + '\') no-repeat center center #ffffff;opacity:0.5"></div>');
			jQuery.ajax({
				url: codeurl,
				dataType: "html",
				data: {
					pincode: qstrPinCode,
				},
				success: function (data) {
					jQuery("#ldng").remove();
					jQuery("#pincheck1").hide();
					jQuery("#pstResult").html(data);
					setCookie("chkpincode", qstrPinCode, 365)
				}
			});
			jQuery(document).on('click','.btnchngzip', function () {
				
			<?php /*?>setTimeout(function(){<?php */?>
				
				jQuery(".main_cod #pstResult").empty();
				jQuery(".main_cod #pincheck1").show();
			
		<?php /*?>	}, 3000);<?php */?>
				
				
				
			})
		}
	})
});
</script>

<?php } ?>
<style>
.fltdi input{width:95%;}
.fltdi{float:left;
width:50%;
display:inline-block;}
</style>
