<?php
define("interest_rate_3_6", 12);
define("interest_rate_9_12", 13);
$product_price = $this->getProduct()->getFinalPrice();
?>
<?php if($product_price >3000):?>
    <span class="estart">EMI Start at </span><span> Rs.</span><strong><?php echo $this->calculateEmi($product_price,interest_rate_9_12,12); ?></strong>
<?php endif; ?>
 