<?php
define("interest_rate_3_6", 12);
define("interest_rate_9_12", 13);
$product_price = $this->getProduct()->getFinalPrice();


?>
<?php if($product_price >3000):?>
<table>
    <thead><h3><strong>EMI option (per month)</strong></h3></thead>
    <tbody>
    <tr>
        <td class="emi_option"><strong>3 months</strong></td>
        <td class="emi_option"><strong>6 months</strong></td>
        <td class="emi_option"><strong>9 months</strong></td>
        <td class="emi_option"><strong>12 months</strong></td>
    </tr>
    <tr>
        <td class="emi_option_value"><strong><span class="WebRupee">Rs.</span><?php echo $this->calculateEmi($product_price,interest_rate_3_6,3); ?></strong></td>
        <td class="emi_option_value"><strong><span class="WebRupee">Rs.</span><?php echo $this->calculateEmi($product_price,interest_rate_3_6,6); ?></strong></td>
        <td class="emi_option_value"><strong><span class="WebRupee">Rs.</span><?php echo $this->calculateEmi($product_price,interest_rate_9_12,9); ?></strong></td>
        <td class="emi_option_value"><strong><span class="WebRupee">Rs.</span><?php echo $this->calculateEmi($product_price,interest_rate_9_12,12); ?></strong></td>
    </tr>
<!--    <tr colspan="3"><td class="emi_option"><strong>12 months</strong></td></tr>-->
<!--    <tr colspan="3"><td class="emi_option_value"><span class="WebRupee">Rs.</span><strong>--><?php //echo $this->calculateEmi($product_price,interest_rate_9_12,12); ?><!--</strong></td></tr>-->
    </tbody>
</table>
    <div class="emi-opt-txt">
        <span>EMI values displayed are approximate, Final EMI values are visible on Payment Gateway's EMI section
EMI Offer(s) and credit periods at the sole discretion of participating Banks</span>
        <br/><br/>
    </div>
<?php endif; ?>