
.breadcrumbs{
    .note-br{
        display: none;
    }
}
.catalog-category-view{
    .toolbar{
        .view-mode-wrap{
            display: none;
        }
    }
}
.catalog-product-view{
    #emi-start-at{
        width: 710px;
        h3{
            font-size: 20px;
            color: #ec2627;
            padding: 10px 10px 20px;
            border-bottom: 1px solid #cccccc;
        }
        table{
            padding: 25px 15px;
            margin: 0 auto;
            tbody{
                td{
                    font-size: 16px;
                    width: 150px;
                    text-align: center;
                    color: #ff5a6b;
                    margin-right: 10px;
                    display: inline-block;
                }
                td:last-child{
                    margin-right: 0;
                }
                td.emi_option_value{
                    background-color: #eeeeee;
                    padding: 6px 0;
                }
                tr{
                    display: block;
                    margin: 20px 0px;
                }
            }
        }
    }
    .emi-opt-txt{
        text-align: center;
        h4{
            color: #ff5a6b;
            text-align: center;

        }
        span{
            color: #000000;

        }
    }
    .emi-start{
        display: block;
        clear: both;
//        margin-top: 40px;
        .estart{
            color: #000000;
            font-size: 13px;
        }
        .check-emi-btn{
            color: #ff5a6b;
            margin-left: 5px;
            font-weight: 600;
            font-size: 13px;
        }
    }
}
div.product-feature-icon{
    display: block;
    ul{
        display: inline-block;
        margin: 0px 0 5px;
        li{
            float: left;
            margin: 0 8px;
        }
    }
}
.product-feature-icon{
    ul.feature_icons{
        li{
//            line-height: 60px;
            img{
                vertical-align: bottom;
            }
        }
    }
}
div.short-description{

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul > li {
        margin-left: 20px;
        font-size: 13px;
        font-weight: bold;
        &:before{
            content: "-";
            margin-left: -15px;
            padding-right: 5px;
        }
    }
}
.catalog-product-view{
    h2{
        font-weight: bold;
    }
    .yt-product-detail{
        .upsell-product{
            max-height: 600px;
            overflow: auto;
        }
        .yt-detail-right{
            .wrap-qty {
                margin-right: 8px;
            }
            p.out-of-stock{
                margin-bottom: 60px;
                padding-left: 0;
                font-size: 14px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }
    .check_pincode_avalability{
        margin-top: 10px;
        p{
            font-size: 13px;
            color: #000000;
        }
        a{
            padding: 8px 30px;
            &:hover{
                color: #FFFFFF;
            }
        }
    }
    .yt-detail-right{
        position: relative;
    }
    .stock-alert-subscription{
        margin-top: 10px;
        position: absolute;
        top: 155px;
        table{
            display: inline-table;

            tr{
                display: inline-block;
            }

        }
        button{
            span{
                text-transform: capitalize;
            }
        }
        .validation-advice{
            line-height: 12px;
            top: -25px;
            position: absolute;
        }
    }

}
.catalog-product-view{
    .yt-tab-navi{
        li{
            a{
                font-weight: bold;
            }
        }
    }
}
body{
    #yt_header {
        .header-content-right {
            .header-cart{
                background-color: #ed5565!important;
                background-image: url(../images/icon-minicart.png)!important;
                background-position: 15px center!important;
                background-repeat: no-repeat!important;
            }
        }
    }
}
.catalog-product-view{
    #yt_tab_specification{
        color:#000000;
        width:600px;
        margin-left:5px!important;
        p{
            margin-bottom:10px;
        }
        table{
            border-collapse:collapse;
            border-spacing:0 0;
            table-layout:auto;
            width:100%;
        }
        strong{
            font-family:Lucida Sans Unicode,Lucida Sans, Arial, Helvetica, sans-serif;
        }

        table,td{
                border:1px solid #E3E5E8;
        }
        td{
            padding:2px 5px;
        }
        p,table,td,tr{
            padding:0;margin:0;
        }
    }
}
div.quickview-main{
    .estart{
        color: #000000;
    }
    .check-emi-btn{
        color: #ed5565;
        font-weight: bold;
    }
    .product-shop{
        position: relative;
    }
    a.quickview-link {
        color: #0100fe;
        clear: both;
        position: absolute;
        top: 0px;
        font-weight: bold;
        right: 0;
    }
}
.cms-home{
    .quickly-to{
        display: none;
    }
}
ul.ltabs-tabs{
    li.best-selling{
        background-color: #ed5565;
        span{
            color: #FFFFFF;
            font-family: 'Open Sans Semi Bold'!important;
            font-size: 107.69%!important;
            text-transform: capitalize;
//            position: relative;
        }
    }
}

.yt-footer-wrap{
    .yt-footer-top{
        display: none;
    }
}

.products-grid .item-title {
    height:46px;
}
.review-product-list{
    .check_pincode_avalability {
        a {
            padding: 8px 30px;
        }
    }
    .yt-product-detail {
        .yt-detail-right {
            .wrap-qty{
                margin-right: 8px;
            }
        }
    }
}

.amfinder-horizontal{
    table{
        width: 100%;
    }
    thead{
        th{
            background-attachment: scroll;
            background-clip: border-box;
            background-color: #FFFFFF;
            background-image: url(../images/product_finder_simple_header_bg.gif);
            background-origin: padding-box;
            background-position: 0 0;
            background-repeat: repeat-x;
            background-size: auto auto;
            border-bottom-color: #CCCCCC;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            h3{
                font-size: 15px;
            }
        }
    }
    tbody{
        td{
            div{
                display: inline-block;
                padding: 10px;

            }
        }
    }
}
table.products-list{
    table-layout: fixed;
    margin: 0 10px;
    thead{
        th{
            padding: 10px 0px;
            border-bottom-color: #CCCCCC;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            span{
                font-size: 12px;
            }
        }
    }
    tbody{
        tr.item{
            td{
                padding-top: 10px;
            }

        }
        .product-name{
            a{
                font-size: 100%;
            }
        }
        .price-box{
            span{
                font-size: 100%;
                color:#686868;
            }
            .regular-price{
                font-size: 100%;
                color:#686868;
            }
        }

    }
}
.catalog-category-view{
    .amfinder-horizontal{
        background: transparent;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 771px) {
    .dropdown-element{
        select{
            width: 250px!important;
        }
    }
}

@media only screen and (max-width: 480px) {
    table.products-list{
        table-layout: auto;
        thead{
            th{
                text-align: center;
            }
        }
        a.btn-cart{
            height: 30px;
            line-height: 30px;
            padding: 0 6px;
            font-size: 11px;
        }
        .price-box{
            padding:0px 3px;
        }
    }
}
div.amfinder-responsive{
    div.amfinder-title{
        display: block;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #FFFFFF;
        background-image: url(../images/product_finder_simple_header_bg.gif);
        background-origin: padding-box;
        background-position: 0 0;
        background-repeat: repeat-x;
        background-size: auto auto;
        border-bottom: 2px solid #cccccc;
        padding-bottom: 8px;
//        padding-left: 10x;
        padding-right: 10px;
        padding-top: 5px;
        span{
            font-size: 15px;
            font-weight: bold;
        }
    }
}
@media only screen and (min-width: 771px){
    div.amfinder-responsive{
        border: 1px solid #CCCCCC;
        div.amfinder-title{
            padding-left: 10px;
            position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    display: block;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #888888;
                    border-right: none;
                    right: 30px;
                    top: 45%;
                    margin-top: -5px;
                }
        }
        .amfinder-toggle{
            display: none;
            li{
                .dropdown-title,.dropdown-element{
                    display: inline-block;
                }
            }
            li:first-of-type{
                margin-right: 40px;
            }

        }
        .dropdown-title{
            font-weight: bold;
        }
    }

}
@media only screen and (min-width: 771px){
    .amfinder-responsive .amfinder-toggle {
        border: 1px solid #cccccc;
        display: none;
        border-top: none;
    }
    .amfinder-responsive .amfinder-title:hover {
        cursor: pointer;
    }

    .amfinder-responsive.open .amfinder-title:before {
        border-top: 7px solid #888888;
        border-bottom: none;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
    .amfinder-responsive.open .amfinder-toggle {
        display: block;
    }
    .amfinder-responsive .amfinder-title{
        border: 1px solid #cccccc;
        padding-bottom: 7px;
        padding-left: 24px;
        padding-right: 10px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 770px){
    .catalog-category-view{
        .amfinder-responsive {
            .amfinder-title {
                span:before {
                    border-left: 4px solid #888888;
                }
            }
        }
        .amfinder-responsive.open{
            .amfinder-title {
                span:before {
                    border-top: 4px solid #888888;
                }
            }
        }
    }
}


.socials-wrap ul li a.show_google  {
    background-position: left -242px;
}
.socials-wrap ul li a.show_linkedin {
    background-position: left -212px;
}
#yt_tab_products p {
    color:#000;
}
@media (max-width: 767px){
    #shopping-cart-table{
        thead#desktop-thead{
            display: none;
        }
        thead#mob-thead{
            display: block;
        }
    }
    #checkout-review-table-wrapper{
        #checkout-review-table{
            thead{
                display: none;
            }
        }
    }
}
@media (min-width: 768px){
    #shopping-cart-table{
        thead#mob-thead{
            display: none;
        }
    }
}

@media (max-width: 480px){
    .sj-listing-tabs  {
        .ltabs-items-container {
            .ltabs-items {
                .ltabs-item {
                    .item-inner {
                        .item-image {
                            a.product-image{
                                img{
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .respl-item {
        .w-image-box {
            .item-image {
                a.product-image > img{
                    width: auto;
                }
            }
        }
    }
}
body.sales-order-view{
    .my-account{
        .title-buttons{
            #sales-orders-button{
                display: block;
                float: right;
                @media (max-width: 420px){
                    float: left;
                    position: relative;
                    top: -2px;
                    margin-left: 10px;
                }
                @media (max-width: 375px){
                    margin-left: 0px;
                    margin-top: 3px;
                }
            }
        }
    }
}
body.sales-order-view{
    .order-items.order-details{
        h2.table-caption{
            font-weight: bold;
            margin: 15px 0 10px 0;
        }
    }
}
@media (max-width: 480px){
    .most-popular{
        .col-md-3.col-sm-6{
            .title-footer{
                &:before{
                    content: '\f067';
                    font-family: FontAwesome;
                    display: inline-block;
                    padding: 0px;
                    float: left;
                    margin-right: 10px;
                    color: #fff;
                    width: 20px;
                    font-size: 14px;
                }
                h2{
                    margin-left: 30px;
                }
            }
            .content-footer{
                display: none;
                opacity: 0;
                transition: visibility 0s linear 0.33s, opacity 0.33s linear;
                margin-left: 30px;
                transition:opacity 0.5s linear;
            }
        }
        .col-md-3.col-sm-6.open{
            .title-footer{
                &:before{
                    content: '\f068';
                }
            }
            .content-footer{
                display: block;
                opacity: 1;
                transition-delay: 0s;
            }
        }
    }
}
@media (min-width: 481px){
    .most-popular{
        .col-md-3.col-sm-6{
            .content-footer{
                display: block;
            }
        }
        .col-md-3.col-sm-6.open{
            .content-footer{
                display: block;
            }
        }
    }
}
