

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="contact_query_form">
<?php
$this->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true));
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1>Contact Us Form</h1>
</div>
<div id="webform_651_success_text" class="std webforms-success-text" style="display:none"></div>
<div id="webform_651_form">
<iframe id="webform_651_iframe" name="webform_651_iframe" style="width:0;height:0;border:0;position:absolute"></iframe>
<form action="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)."ContactUs/index/subform"; ?>" method="POST" name="webform_651" id="webform_651" enctype="multipart/form-data" class="webforms-cont" >
<input name="form_key" type="hidden" value="r3SsocuARIoz965L" />
<input type="hidden" name="submitWebform_651" value="1" />
<input type="hidden" name="webform_id" value="651" />
<div id="fieldset_587" class="fieldset fieldset-587 ">
    <h2 class="legend">Contact Type</h2>
    <ul class="form-list">
        <li class="fields ">
            <div id="field_1540" class="field  type-select-radio webforms-fields-1540 webforms-fields-qt">
                <div style="padding:0.5rem 0;"><label id="label_field1540" for="field1540" class="required">
                    <em>*</em> Select Query Type
                </label></div>
                <div class="input-box">
                    <ul class="list-select">
                        <li class='control'>
                            <input style='float:left' type='radio' name='field[1540]' id='field15400' value="General Enquiry" class='radio ' />
                            <label for='field15400' class='' style=''>General Enquiry</label>
                        </li>
                        <li class='control'>
                            <input style='float:left' type='radio' name='field[1540]' id='field15401' value="Order Related" class='radio validate-one-required-by-name' />
                            <label for='field15401' class='' style=''>Order Related</label>
                        </li>
                    </ul>
                    <!--                    <p class="webforms-fields-comment">-->
                    <!--                        Select your query Type </p>-->
                </div>
            </div>
            <div id="field_1541" class="field  type-select webforms-fields-1541 webforms-fields-gqt" style="display:none">
                <div style="padding:0.5rem 0;"><label id="label_field1541" for="field1541" class="required">
                    <em>*</em> General Subject
                </label></div>
                <div class="input-box">
                    <select name='field[1541]' id='field1541' class='input-text required-entry' style=''>
                        <option value=""></option>
                        <option value="Information On Product">Information On Product</option>
                        <option value="Nearest Retail Store">Nearest Retail Store</option>
                        <option value="Bulk Order Enquiry">Bulk Order Enquiry</option>
                        <option value="Dealer/Distributor Enquiry">Dealer/Distributor Enquiry</option>
						<option value="Warranty Enquiry">Warranty Enquiry</option>
                        <option value="Online Coupon Code Related">Online Coupon Code Related</option>
                        <option value="Shipping Timeline">Shipping Timeline</option>
                        <option value="Others">Others</option>
                    </select>
                    <!--                    <p class="webforms-fields-comment">-->
                    <!--                        Please select </p>-->
                </div>
            </div>
            <!--        </li>-->
            <!--        <li class="fields ">-->
            <div id="field_1542" class="field  type-select webforms-fields-1542 webforms-fields-oqt" style="display:none">
                <div style="padding:0.5rem 0;"><label id="label_field1542" for="field1542" class="required">
                    <em>*</em> Order Subject
                </label></div>
                <div class="input-box">
                    <select name='field[1542]' id='field1542' class='input-text required-entry' style=''>
                        <option value=""></option>
                        <option value="Order Status">Order Status</option>
                        <option value="Physically Damaged Product">Physically Damaged Product</option>
                        <option value="Defective Product">Defective Product</option>
                        <option value="Invoice Request">Invoice Request</option>
                        <option value="Service Center Enquiry">Service Center Enquiry</option>
                        <option value="Others">Others</option>
                    </select>
                    <!--                    <p class="webforms-fields-comment">-->
                    <!--                        Please Select </p>-->
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="fieldset_588" class="fieldset fieldset-588 ">
<h2 class="legend">Additional Details</h2>
<ul class="form-list">
<li class="fields ">
    <div id="field_1543" class="field  type-text webforms-fields-1543 webforms-fields-cname" style="display:none">
        <label id="label_field1543" for="field1543" class="required">
            <em>*</em> Name
        </label>
        <div class="input-box">
            <input type='text' name='field[1543]' id='field1543' class='input-text required-entry ' style='' value=" " />
        </div>
    </div>
    <div id="field_1545" class="field  type-number webforms-fields-1545 webforms-fields-cnmbr" style="display:none">
        <label id="label_field1545" for="field1545"  class="required">
            <em>*</em> Mobile Number </label>
        <div class="input-box">
            <input type='text' name='field[1545]' id='field1545' class='input-text validate-number validate-field-number-min-1545 validate-length' style='' value="" />
            <script>
                Validation.add('validate-field-number-min-1545', 'Please enter 10 digit mobile number.', function(v) {
                    var phoneNo = document.getElementById('field1545');
                    if (phoneNo.value.length < 10 || phoneNo.value.length > 10) {
                        return false;
                    }
                    else
                    {
                        return true;
                    }
                })
            </script>
        </div>
    </div>
</li>
<li class="fields ">
    <div id="field_1544" class="field  type-email webforms-fields-1544 webforms-fields-cemail" style="display:none">
        <label id="label_field1544" for="field1544" class="required">
            <em>*</em> Email-Id
        </label>
        <div class="input-box">
            <input type='text' name='field[1544]' id='field1544' class='input-text required-entry validate-email ' style='' value="" onkeyup="if(this.value.search(' ')>=0){this.value = this.value.replace(' ','');}" />
        </div>
    </div>
    <div id="field_1546" class="field  type-number webforms-fields-1546 webforms-fields-on" style="display:none">
        <label id="label_field1546" for="field1546" class="required">
            <em>*</em> Order Number
        </label>
        <div class="input-box">
            <input type='text' name='field[1546]' id='field1546' class='input-text required-entry validate-number' style='' value="" />
        </div>
    </div>
</li>
<li class="fields ">
    <div id="field_1547" class="field  type-text webforms-fields-1547 webforms-fields-clctxn" style="display:none">
        <label id="label_field1547" for="field1547">
            Location </label>
        <div class="input-box">
            <input type='text' name='field[1547]' id='field1547' class='input-text ' style='' value="" />
        </div>
    </div>
    <div id="field_1548" class="field  type-number webforms-fields-1548 webforms-fields-pincode" style="display:none">
        <label id="label_field1548" for="field1548">
            Pincode </label>
        <div class="input-box">
            <input type='text' name='field[1548]' id='field1548' class='input-text validate-field-number-min-1548 validate-number' style='' value="" />
            <script>
                Validation.add('validate-field-number-min-1548', 'Please enter 6 digit pincode.', function(v) {
                    var pinno = document.getElementById('field1548');
                    if (pinno.value.length < 6 || pinno.value.length > 6) {
                        return false;
                    }
                    else
                    {
                        return true;
                    }
                })
            </script>
        </div>
    </div>
</li>
<li class="fields ">
    <div id="field_1549" class="field  type-image webforms-fields-1549 webforms-fields-upload" style="display:none">
        <label id="label_field1549" for="field1549">
            Upload Photographs in JPEG format(less than 2MB) </label>
        <div class="input-box">
            <script  type="text/javascript">
                //<![CDATA[
                function checkFile1549(fieldObj, showAlert) {
                    var error = "";
                    var FileName = fieldObj.value;
                    if (FileName.length == 0) return false;
                    var FileExt = FileName.substr(FileName.lastIndexOf('.') + 1).toLowerCase();
                    var FileSize = fieldObj.files[0].size;
                    var FileSizeKB = (FileSize / 1024).toFixed(2);
                    var allowedExtensions = ["jpg", "jpeg", "gif", "png"];
                    var allowedSize = 2048;

                    if (allowedExtensions.indexOf(FileExt) < 0 && allowedExtensions.length) {
                        error += "Selected file has none of allowed extensions: jpg, jpeg, gif, png\n\n";
                    }

                    if (FileSizeKB > allowedSize) {
                        error += "Selected file exceeds allowed size: 2048 kB";
                    }

                    if (error) {
                        fieldObj.clear();
                        if (showAlert)
                            alert(error);
                        return false;
                    }

                    return true;
                }
                //]]>
            </script>
            <input type='file' name='file_1549' id='file_1549' class='input-file' style='' onchange="checkFile1549(this,1)" />
            <div id="fileupload-progress-file_1549" class="file-progress"></div>
            <ul id="preview_file_1549" class="file-preview" style="display:none"></ul>
            <script  type="text/javascript">
                //<![CDATA[
                var jqXHRfile_1549;
                jQuery(document).ready(function($) {

                    $('#file_1549').fileupload({
                        dataType: 'json',
                        url: 'http://mageme.com/sandbox/js/webforms/upload/index.php?param_name=file_1549',
                        replaceFileInput: false,
                        change: function(e, data) {
                            if (jqXHRfile_1549) jqXHRfile_1549.abort();
                            $('#preview_file_1549').empty();
                        },
                        add: function(e, data) {
                            if (checkFile1549(this, 0))
                                jqXHRfile_1549 = data.submit();
                        },
                        done: function(e, data) {
                            var fileInfo = data.result[0];
                            $("#file_1549").removeClass("required-entry");
                            if (fileInfo) {
                                $("#preview_file_1549").append(
                                    $(' < input > ').attr('
                                type ', '
                                hidden ').attr('
                                name ', '
                                file_1549 ').attr('
                                value ', fileInfo.rand + ' / ' + fileInfo.name)
                            ); $('#file_1549').val(''); $.each(data.files, function(index, file) {
                                    $("#preview_file_1549").append(
                                        $(' < li > ').attr('
                                    id ', file.name)
                                        .append($(' < h3 > ').text(file.name))
                                        .append($(' < p > ')
                                            .append('type: ' + (file.type || 'unknown'))
                                            .append($(' < br > '))
                                            .append('size: ' + Math.round(file.size / 1024) + 'KB')
                                            .append($(' < br > '))
                                            .append($(' < a > ').attr('
                                    class ', '
                                    file - cancel ').text(' [Cancel]
                                    ').click(function () {
                                    $('#preview_file_1549').empty();
                                })))
                            );
                            });

                            var li = $('li[id="' + fileInfo['name'] + '"]');

                            if (/image\/.*/.test(fileInfo['type'])) {
                                if (fileInfo['thumbnail_url']) {
                                    var thumb = $(' < img > ').attr('
                                    src ', fileInfo['
                                    thumbnail_url ']);
                                    li.prepend(thumb);
                                }
                            }

                        } else {
                            alert('Error occured!');
                }
                }
                });

                // Add detailed progress information
                $('#file_1549').bind('fileuploadstart', function(e, data) {
                    var widget = $(this),
                        progressElement = $('#fileupload-progress-file_1549').fadeIn(),
                        interval = 500,
                        total = 0,
                        loaded = 0,
                        loadedBefore = 0,
                        progressTimer,
                        progressHandler = function(e, data) {
                            loaded = data.loaded;
                            total = data.total;
                        },
                        stopHandler = function() {
                            widget
                                .unbind('fileuploadprogressall', progressHandler)
                                .unbind('fileuploadstop', stopHandler);
                            window.clearInterval(progressTimer);
                            progressElement.fadeOut(function() {
                                progressElement.html('');
                                $('#preview_file_1549').fadeIn();
                            });
                        },
                        formatTime = function(seconds) {
                            var date = new Date(seconds * 1000);
                            return ('0' + date.getUTCHours()).slice(-2) + ':' +
                            ('0' + date.getUTCMinutes()).slice(-2) + ':' +
                            ('0' + date.getUTCSeconds()).slice(-2);
                        },
                        formatBytes = function(bytes) {
                            if (bytes >= 1000000000) {
                                return (bytes / 1000000000).toFixed(2) + ' GB';
                            }
                            if (bytes >= 1000000) {
                                return (bytes / 1000000).toFixed(2) + ' MB';
                            }
                            if (bytes >= 1000) {
                                return (bytes / 1000).toFixed(2) + ' KB';
                            }
                            return bytes + ' B';
                        },
                        formatPercentage = function(floatValue) {
                            return (floatValue * 100).toFixed(2) + ' %';
                        },
                        updateProgressElement = function(loaded, total, bps) {
                            progressElement.html(
                                formatBytes(bps) + 'ps | ' +
                                formatTime((total - loaded) / bps) + ' | ' +
                                formatPercentage(loaded / total) + ' | ' +
                                formatBytes(loaded) + ' / ' + formatBytes(total)
                            );
                        },
                        intervalHandler = function() {
                            var diff = loaded - loadedBefore;
                            if (!diff) {
                                return;
                            }
                            loadedBefore = loaded;
                            updateProgressElement(
                                loaded,
                                total,
                                diff * (1000 / interval)
                            );
                        };
                    widget
                        .bind('fileuploadprogressall', progressHandler)
                        .bind('fileuploadstop', stopHandler);
                    progressTimer = window.setInterval(intervalHandler, interval);
                });

                });
                //]]>
            </script>
        </div>
    </div>
    <!--    <div id="field_1550" class="field  type-text webforms-fields-1550" style="display:none">-->
    <!--        <label id="label_field1550" for="field1550">-->
    <!--            Coupon Code </label>-->
    <!--        <div class="input-box">-->
    <!--            <input type='text' name='field[1550]' id='field1550' class='input-text ' style='' value="" />-->
    <!--        </div>-->
    <!--    </div>-->
</li>
<li class="fields ">
    <div id="field_1550" class="field  type-text webforms-fields-1550" style="display:none">
        <label id="label_field1550" for="field1550">
            Coupon Code </label>
        <div class="input-box">
            <input type='text' name='field[1550]' id='field1550' class='input-text ' style='' value="" />
        </div>
    </div>
</li>
<li class="fields ">
    <div id="field_1551" class="field  type-text webforms-fields-1551 webforms-fields-prodname" style="display:none">
        <label id="label_field1551" for="field1551" class="required">
            <em>*</em> Product Name </label>
        <div class="input-box">
            <input type='text' name='field[1551]' id='field1551' class='input-text required-entry ' style='' value="" />
        </div>
    </div>
    <div id="field_1552" class="field  type-number webforms-fields-1552" style="display:none">
        <label id="label_field1552" for="field1552" class="required">
            <em>*</em> Product Quantity </label>
        <div class="input-box">
            <input type='text' name='field[1552]' id='field1552' class='input-text validate-number required-entry ' style='' value="" />
        </div>
    </div>
</li>
<li class="fields ">
    <div id="field_1553" class="field  type-textarea webforms-fields-1553" style="display:none">
        <label id="label_field1553" for="field1553">
            Enter Additonal Information </label>
        <div class="input-box">
            <textarea name='field[1553]' id='field1553' class='input-text ' style=''></textarea>
        </div>
    </div>
</li>
</ul>
</div>
<script>
    var reWidgets = [];
</script>
<script>
    function recaptchaCallbackr2eey6(response) {
        $('rer2eey6').value = response;
        Validation.validate($('rer2eey6'));
    }
    reWidgets.push({
        id: 'r2eey6',
        inst: '',
        callback: recaptchaCallbackr2eey6
    });
</script>
<div id="g-recaptchar2eey6"></div>
<input type="hidden" id="rer2eey6" name="recapchar2eey6" class="required-entry" />
<script>
    //<![CDATA[
    function recaptchaOnload() {
        for (var i = 0; i < reWidgets.length; i++) {
            reWidgets[i].inst = grecaptcha.render('g-recaptcha' + reWidgets[i].id, {
                'sitekey': '6Ldrdi8UAAAAABhiZxsOBqyNXHwUqJZvkR3RYP9R',
                'theme': 'standard',
                'callback': reWidgets[i].callback
            });
        }
    }
    //]]>
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnload&render=explicit" async defer></script>
<textarea id="field_l7bzln" type="text" name="message">Please enable JavaScript.</textarea>
<script>
    if ($('field_l7bzln')) $('field_l7bzln').remove();
</script>
<div class="buttons-set">
    <p class="required">* Required Fields</p>
    <button type="button" class="button" id="webform_651_submit_button" onclick="webform_651_submit()" title="submit" style="display: none;" >
                                        <span>
                                                                                    <span>SUBMIT</span>
                                        </span>
    </button>
    <input type="submit"  id="submit_form" value="Submit"  name="submit" >
                                    <span class="please-wait" id="webform_651_sending_data" style="display:none;">
                                                                                <img src="http://mageme.com/sandbox/skin/frontend/default/default/images/opc-ajax-loader.gif"
                                                                                     alt="Sending..." title="Sending..."
                                                                                     class="v-middle"/>
                                                                                <span
                                                                                    id="webform_651_progress_text">Sending...</span>
                                    </span>
</div>
</form>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[

    var webform_651 = new VarienForm('webform_651', 0);
    var webform_651_submit = function() {
        var form = webform_651;
        if (form.validator && form.validator.validate()) {
            form.submit();
            $('webform_651_submit_button').hide();
            $('webform_651_sending_data').show();
        }
    };

    var iframe = $('webform_651_iframe'); iframe.observe('load', function() {
        var doc = this.contentDocument ? this.contentDocument : this.contentWindow.document;
        var json = {
            success: false
        };
        if (doc.body.innerHTML.unfilterJSON())
            json = doc.body.innerHTML.evalJSON();
        else return;
        if (json.success > 0) {
            if (json.script) {
                eval(json.script);
                return;
            }
            if (json.redirect_url) {
                $('webform_651_progress_text').update('Redirecting');
                window.location = json.redirect_url;
                return;
            }
            $('webform_651_progress_text').update('Complete');
            Effect.Fade('webform_651_form', {
                duration: 0.5,
                from: 1,
                to: 0,
                afterFinish: function() {
                    var successText = json.success_text.unescapeHTML();
                    $('webform_651_success_text').update(successText).show();
                    Effect.Fade('webform_651_success_text', {
                        duration: 0.5,
                        from: 0,
                        to: 1
                    });
                    if (0) $('webform_651_success_text').scrollTo();
                }

            });
        } else {
            if ($('webform_651_sending_data'))
                $('webform_651_sending_data').hide();
            if ($('webform_651_submit_button'))
                $('webform_651_submit_button').show();
            if (json.errors && typeof(json.errors) == "string") {
                Dialog.alert(json.errors.unescapeHTML(), {
                    title: "Error(s) occured",
                    className: "alphacube",
                    width: 300,
                    buttonClass: "button",
                    okLabel: "Close",
                    destroyOnClose: true,
                    recenterAuto: true
                })
            } else {
                alert('Error(s) occured');
            }
            if (json.script) {
                eval(json.script);
            }
        }
    });
    //]]>
</script>
<script type="text/javascript">
var logicRules_651 = [];
var targets_651 = [{
    "id": "field_1541",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1542",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1551",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1546",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1547",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1548",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1551",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1552",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1547",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1548",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1550",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1547",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1548",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1546",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1549",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1546",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1549",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1551",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1543",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1545",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1544",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1546",
    "logic_visibility": "hidden",
    "required": false
}, {
    "id": "field_1553",
    "logic_visibility": "hidden",
    "required": false
}];
var fieldMap_651 = {
    "fieldset_587": ["1540", "1541", "1542"],
    "fieldset_588": ["1543", "1545", "1544", "1546", "1547", "1548", "1549", "1550", "1551", "1552", "1553"]
};
logicRules_651.push({
    'field_id': '1540',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["General Enquiry"],
    'target': ["field_1541"]
});
logicRules_651.push({
    'field_id': '1540',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Order Related"],
    'target': ["field_1542"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Information On Product"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Order Status"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546", "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Nearest Retail Store"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Bulk Order Enquiry"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1551", "field_1552", "field_1547" , "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Dealer\/Distributor Enquiry"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1547", "field_1551" , "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Warranty Enquiry"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1551" , "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Online Coupon Code Related"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1550", "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Shipping Timeline"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1547", "field_1548", "field_1553"]
});
logicRules_651.push({
    'field_id': '1541',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Others"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Exchange related"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546", "field_1549", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Physically Damaged Product"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546", "field_1549", "field_1551", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Defective Product"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546", "field_1549", "field_1551", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Invoice Request"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546" , "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Service Center Enquiry"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1553"]
});
logicRules_651.push({
    'field_id': '1542',
    'action': 'show',
    'logic_condition': 'equal',
    'aggregation': 'any',
    'value': ["Others"],
    'target': ["field_1543", "field_1545", "field_1544", "field_1546", "field_1553"]
});
// execute form logic
JSWebFormsLogic(targets_651, logicRules_651);
</script>




