.breadcrumbs .note-br {
  display: none;
}

.catalog-category-view .toolbar .view-mode-wrap {
  display: none;
}

.catalog-product-view #emi-start-at {
  width: 710px;
}

.catalog-product-view #emi-start-at h3 {
  font-size: 20px;
  color: #ec2627;
  padding: 10px 10px 20px;
  border-bottom: 1px solid #cccccc;
}

.catalog-product-view #emi-start-at table {
  padding: 25px 15px;
  margin: 0 auto;
}

.catalog-product-view #emi-start-at table tbody td {
  font-size: 16px;
  width: 150px;
  text-align: center;
  color: #ff5a6b;
  margin-right: 10px;
  display: inline-block;
}

.catalog-product-view #emi-start-at table tbody td:last-child {
  margin-right: 0;
}

.catalog-product-view #emi-start-at table tbody td.emi_option_value {
  background-color: #eeeeee;
  padding: 6px 0;
}

.catalog-product-view #emi-start-at table tbody tr {
  display: block;
  margin: 20px 0px;
}

.catalog-product-view .emi-opt-txt {
  text-align: center;
}

.catalog-product-view .emi-opt-txt h4 {
  color: #ff5a6b;
  text-align: center;
}

.catalog-product-view .emi-opt-txt span {
  color: #000000;
}

.catalog-product-view .emi-start {
  display: block;
  clear: both;
}

.catalog-product-view .emi-start .estart {
  color: #000000;
  font-size: 13px;
}

.catalog-product-view .emi-start .check-emi-btn {
  color: #ff5a6b;
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

div.product-feature-icon {
  display: block;
}

div.product-feature-icon ul {
  display: inline-block;
  margin: 0px 0 5px;
}

div.product-feature-icon ul li {
  float: left;
  margin: 0 8px;
}

.product-feature-icon ul.feature_icons li img {
  vertical-align: bottom;
}

div.short-description ul {
  list-style: none;
  padding-left: 0;
}

div.short-description ul > li {
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
}

div.short-description ul > li:before {
  content: "-";
  margin-left: -15px;
  padding-right: 5px;
}

.catalog-product-view h2 {
  font-weight: bold;
}

.catalog-product-view .yt-product-detail .upsell-product {
  max-height: 600px;
  overflow: auto;
}

.catalog-product-view .yt-product-detail .yt-detail-right .wrap-qty {
  margin-right: 8px;
}

.catalog-product-view .yt-product-detail .yt-detail-right p.out-of-stock {
  margin-bottom: 60px;
  padding-left: 0;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-product-view .check_pincode_avalability {
  margin-top: 10px;
}

.catalog-product-view .check_pincode_avalability p {
  font-size: 13px;
  color: #000000;
}

.catalog-product-view .check_pincode_avalability a {
  padding: 8px 30px;
}

.catalog-product-view .check_pincode_avalability a:hover {
  color: #FFFFFF;
}

.catalog-product-view .yt-detail-right {
  position: relative;
}

.catalog-product-view .stock-alert-subscription {
  margin-top: 10px;
  position: absolute;
  top: 155px;
}

.catalog-product-view .stock-alert-subscription table {
  display: inline-table;
}

.catalog-product-view .stock-alert-subscription table tr {
  display: inline-block;
}

.catalog-product-view .stock-alert-subscription button span {
  text-transform: capitalize;
}

.catalog-product-view .stock-alert-subscription .validation-advice {
  line-height: 12px;
  top: -25px;
  position: absolute;
}

.catalog-product-view .yt-tab-navi li a {
  font-weight: bold;
}

body #yt_header .header-content-right .header-cart {
  background-color: #ed5565 !important;
  background-image: url(../images/icon-minicart.png) !important;
  background-position: 15px center !important;
  background-repeat: no-repeat !important;
}

.catalog-product-view #yt_tab_specification {
  color: #000000;
  width: 600px;
  margin-left: 5px !important;
}

.catalog-product-view #yt_tab_specification p {
  margin-bottom: 10px;
}

.catalog-product-view #yt_tab_specification table {
  border-collapse: collapse;
  border-spacing: 0 0;
  table-layout: auto;
  width: 100%;
}

.catalog-product-view #yt_tab_specification strong {
  font-family: Lucida Sans Unicode,Lucida Sans, Arial, Helvetica, sans-serif;
}

.catalog-product-view #yt_tab_specification table, .catalog-product-view #yt_tab_specification td {
  border: 1px solid #E3E5E8;
}

.catalog-product-view #yt_tab_specification td {
  padding: 2px 5px;
}

.catalog-product-view #yt_tab_specification p, .catalog-product-view #yt_tab_specification table, .catalog-product-view #yt_tab_specification td, .catalog-product-view #yt_tab_specification tr {
  padding: 0;
  margin: 0;
}

div.quickview-main .estart {
  color: #000000;
}

div.quickview-main .check-emi-btn {
  color: #ed5565;
  font-weight: bold;
}

div.quickview-main .product-shop {
  position: relative;
}

div.quickview-main a.quickview-link {
  color: #0100fe;
  clear: both;
  position: absolute;
  top: 0px;
  font-weight: bold;
  right: 0;
}

.cms-home .quickly-to {
  display: none;
}

ul.ltabs-tabs li.best-selling {
  background-color: #ed5565;
}

ul.ltabs-tabs li.best-selling span {
  color: #FFFFFF;
  font-family: "Open Sans Semi Bold" !important;
  font-size: 107.69% !important;
  text-transform: capitalize;
}

.yt-footer-wrap .yt-footer-top {
  display: none;
}

.products-grid .item-title {
  height: 46px;
}

.review-product-list .check_pincode_avalability a {
  padding: 8px 30px;
}

.review-product-list .yt-product-detail .yt-detail-right .wrap-qty {
  margin-right: 8px;
}

.amfinder-horizontal table {
  width: 100%;
}

.amfinder-horizontal thead th {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: url(../images/product_finder_simple_header_bg.gif);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: auto auto;
  border-bottom-color: #CCCCCC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.amfinder-horizontal thead th h3 {
  font-size: 15px;
}

.amfinder-horizontal tbody td div {
  display: inline-block;
  padding: 10px;
}

table.products-list {
  table-layout: fixed;
  margin: 0 10px;
}

table.products-list thead th {
  padding: 10px 0px;
  border-bottom-color: #CCCCCC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

table.products-list thead th span {
  font-size: 12px;
}

table.products-list tbody tr.item td {
  padding-top: 10px;
}

table.products-list tbody .product-name a {
  font-size: 100%;
}

table.products-list tbody .price-box span {
  font-size: 100%;
  color: #686868;
}

table.products-list tbody .price-box .regular-price {
  font-size: 100%;
  color: #686868;
}

.catalog-category-view .amfinder-horizontal {
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (min-width: 771px) {
  .dropdown-element select {
    width: 250px !important;
  }
}

@media only screen and (max-width: 480px) {
  table.products-list {
    table-layout: auto;
  }
  table.products-list thead th {
    text-align: center;
  }
  table.products-list a.btn-cart {
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    font-size: 11px;
  }
  table.products-list .price-box {
    padding: 0px 3px;
  }
}

div.amfinder-responsive div.amfinder-title {
  display: block;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: url(../images/product_finder_simple_header_bg.gif);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: auto auto;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-top: 5px;
}

div.amfinder-responsive div.amfinder-title span {
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 771px) {
  div.amfinder-responsive {
    border: 1px solid #CCCCCC;
  }
  div.amfinder-responsive div.amfinder-title {
    padding-left: 10px;
    position: relative;
  }
  div.amfinder-responsive div.amfinder-title:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #888888;
    border-right: none;
    right: 30px;
    top: 45%;
    margin-top: -5px;
  }
  div.amfinder-responsive .amfinder-toggle {
    display: none;
  }
  div.amfinder-responsive .amfinder-toggle li .dropdown-title, div.amfinder-responsive .amfinder-toggle li .dropdown-element {
    display: inline-block;
  }
  div.amfinder-responsive .amfinder-toggle li:first-of-type {
    margin-right: 40px;
  }
  div.amfinder-responsive .dropdown-title {
    font-weight: bold;
  }
}

@media only screen and (min-width: 771px) {
  .amfinder-responsive .amfinder-toggle {
    border: 1px solid #cccccc;
    display: none;
    border-top: none;
  }
  .amfinder-responsive .amfinder-title:hover {
    cursor: pointer;
  }
  .amfinder-responsive.open .amfinder-title:before {
    border-top: 7px solid #888888;
    border-bottom: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .amfinder-responsive.open .amfinder-toggle {
    display: block;
  }
  .amfinder-responsive .amfinder-title {
    border: 1px solid #cccccc;
    padding-bottom: 7px;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .catalog-category-view .amfinder-responsive .amfinder-title span:before {
    border-left: 4px solid #888888;
  }
  .catalog-category-view .amfinder-responsive.open .amfinder-title span:before {
    border-top: 4px solid #888888;
  }
}

.socials-wrap ul li a.show_google {
  background-position: left -242px;
}

.socials-wrap ul li a.show_linkedin {
  background-position: left -212px;
}

#yt_tab_products p {
  color: #000;
}

@media (max-width: 767px) {
  #shopping-cart-table thead#desktop-thead {
    display: none;
  }
  #shopping-cart-table thead#mob-thead {
    display: block;
  }
  #checkout-review-table-wrapper #checkout-review-table thead {
    display: none;
  }
}

@media (min-width: 768px) {
  #shopping-cart-table thead#mob-thead {
    display: none;
  }
}

@media (max-width: 480px) {
  .sj-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .item-image a.product-image img {
    width: auto;
  }
  .respl-item .w-image-box .item-image a.product-image > img {
    width: auto;
  }
}

body.sales-order-view .my-account .title-buttons #sales-orders-button {
  display: block;
  float: right;
}

@media (max-width: 420px) {
  body.sales-order-view .my-account .title-buttons #sales-orders-button {
    float: left;
    position: relative;
    top: -2px;
    margin-left: 10px;
  }
}

@media (max-width: 375px) {
  body.sales-order-view .my-account .title-buttons #sales-orders-button {
    margin-left: 0px;
    margin-top: 3px;
  }
}

body.sales-order-view .order-items.order-details h2.table-caption {
  font-weight: bold;
  margin: 15px 0 10px 0;
}

@media (max-width: 480px) {
  .most-popular .col-md-3.col-sm-6 .title-footer:before {
    content: '\f067';
    font-family: FontAwesome;
    display: inline-block;
    padding: 0px;
    float: left;
    margin-right: 10px;
    color: #fff;
    width: 20px;
    font-size: 14px;
  }
  .most-popular .col-md-3.col-sm-6 .title-footer h2 {
    margin-left: 30px;
  }
  .most-popular .col-md-3.col-sm-6 .content-footer {
    display: none;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    margin-left: 30px;
    transition: opacity 0.5s linear;
  }
  .most-popular .col-md-3.col-sm-6.open .title-footer:before {
    content: '\f068';
  }
  .most-popular .col-md-3.col-sm-6.open .content-footer {
    display: block;
    opacity: 1;
    transition-delay: 0s;
  }
}

@media (min-width: 481px) {
  .most-popular .col-md-3.col-sm-6 .content-footer {
    display: block;
  }
  .most-popular .col-md-3.col-sm-6.open .content-footer {
    display: block;
  }
}
