
/* Css of js enfinity*/

.pix_slideshow {
    float: left;
    width: 100%;
    position: relative;
}

.cms-home-v1 .pix_slideshow,
.slideshow-homev2 .pix_slideshow{
	margin-bottom:0;
}

.pix_slideshow img {
    max-width: none!important;
}
.pix_slideshow [data-use="simple"] img,
.pix_slideshow [data-use="simple"] .filmore_rotate_wrap {
    max-width: 100%!important;
}
.pix_slideshow_until_image {
    display: none;
}

.pix_slideshow_target {
    display: block;
}
.pix_slideshow_target {
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.film_slide {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.filmoreSlide {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.filmoreSlide > div {
    position: absolute;
}

.filmoreBgs {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.filmore_loader {
    position: absolute;
    right: 0;
    top: 15px;
}

.filmore_command {
    cursor: pointer;
    position: absolute;
    top:50%;
    display: inline-block;
    width: 40px;
    height:40px;
    margin-top:-20px;
    background-color: #fff;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

.filmore_command:hover{
    opacity: 0.9;
}

.filmore_prev.filmore_command{
    left:0;
}

.filmore_next.filmore_command{
    right:0;
}

.filmore_pause {
    background: url("../images/icons_sprite.png") no-repeat -6px -266px;
    display: none;
    right: 5px;
    position: absolute;
    top: 60px;
}

.filmore_autoadv .filmore_play {
    display: none;
}
.filmore_autoadv .filmore_pause {
    display: block;
}

.filmore_prev {
    background-image: url("../images/icons_sprite.png");
    background-position: -93px -266px;
}

.filmore_next {
    background-image: url("../images/icons_sprite.png");
    background-position: -226px -266px;
}

.filmore_loader{
	display: none;
}

.filmore_next,
.filmore_prev{
	opacity: 0;
	transition: .2s;
	-webkit-transition: .2s;
}

.pix_slideshow:hover .filmore_next,
.pix_slideshow:hover .filmore_prev{
	opacity: 1;
}

.filmore_pagination {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.filmore_pag {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
    margin:0 3px;
    transition: .1s;
    -webkit-transition: .1s;
}

.filmore_pag:hover,
.filmore_pag.filmore_current_pag {
    background-color: #3b3b3b;
}


.pix_slideshow [data-use="simple"] img,
.pix_slideshow [data-use="simple"] .filmore_rotate_wrap {
    max-width: 100%!important;
}

/*======================================*/

.sl-home-2cl  .title_big,
.sl-home-1cl  .title_big{
	line-height: 1.1em;
	text-transform:uppercase;
}
.yt-slideshow .title_medium{
	text-transform:uppercase;
}
.yt-slideshow .title-top{
	text-transform:uppercase;
}
.yt-slideshow .title_border{
	border-top:3px solid rgba(255,255,255,0.33)!important;
	border-bottom:3px solid rgba(255,255,255,0.33)!important;
	line-height: 1.7em;
	padding:0!important;
}
.sl-home-1cl  .title-big2{
	font-size:369.23%;
}
.sl-home-2cl  .title-big2{
	font-size:276.92%;
}
.title_normal_double{
	font-size:276.92%;
	text-transform:uppercase;
	color:#fff;
}
.title_normal_double .regular{
	font-family: 'Titillium Web Regular';
}

.yt-slideshow .btn_slide a{
	text-transform:uppercase;
	padding:5px 20px;
	color:#fff;
}
.yt-slideshow .des-txt{
	color:#fff;
}

.sl-home-1cl .filmore_next.filmore_command{
	right:20px;
}

.sl-home-1cl .filmore_prev.filmore_command{
	left:20px;
}